--
-- PostgreSQL database dump
--

\restrict Oj8vJUtY9oPJJCd6AvrVyiops9PQ4N8j29XeQgBDdRVqLkcZyahUoNqr6SUMzGT

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: nautilus_user
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO nautilus_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: nautilus_user
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO nautilus_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: nautilus_user
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO nautilus_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: nautilus_user
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: accounts_payable; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.accounts_payable (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    fornecedor_id uuid,
    categoria_id uuid,
    embarcacao_id uuid,
    descricao text NOT NULL,
    valor_original numeric(12,2) DEFAULT 0,
    vencimento text,
    competencia text,
    status text DEFAULT 'pendente'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.accounts_payable OWNER TO nautilus_user;

--
-- Name: accounts_receivable; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.accounts_receivable (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    proposta_id uuid NOT NULL,
    os_id uuid,
    embarcacao_id uuid,
    cliente_id uuid,
    valor_original numeric(12,2) DEFAULT '0'::numeric,
    status text DEFAULT 'pendente'::text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    compromisso_id uuid
);


ALTER TABLE public.accounts_receivable OWNER TO nautilus_user;

--
-- Name: app_configs; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.app_configs (
    id text NOT NULL,
    data jsonb NOT NULL,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.app_configs OWNER TO nautilus_user;

--
-- Name: certifiers; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.certifiers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    codigo_registro text,
    telefone_contato text,
    email text,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.certifiers OWNER TO nautilus_user;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.clients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    email text,
    telefone text,
    cnpj_cpf text,
    endereco text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    whatsapp text
);


ALTER TABLE public.clients OWNER TO nautilus_user;

--
-- Name: commitment_attachments; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.commitment_attachments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    compromisso_id uuid NOT NULL,
    nome_original text NOT NULL,
    nome_fisico text NOT NULL,
    url text NOT NULL,
    tipo_mime text,
    tamanho integer DEFAULT 0,
    autor_id uuid,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.commitment_attachments OWNER TO nautilus_user;

--
-- Name: commitments; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.commitments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    titulo text NOT NULL,
    embarcacao_id uuid NOT NULL,
    responsavel_id uuid NOT NULL,
    vencimento text NOT NULL,
    observacoes text,
    prioridade text DEFAULT 'normal'::text NOT NULL,
    status text DEFAULT 'aberto'::text NOT NULL,
    criado_por_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    destinatarios jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.commitments OWNER TO nautilus_user;

--
-- Name: critical_pendings; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.critical_pendings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tipo text NOT NULL,
    titulo text NOT NULL,
    embarcacao_nome text,
    detalhe text,
    urgencia text,
    data text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.critical_pendings OWNER TO nautilus_user;

--
-- Name: deliveries; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.deliveries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    os_id uuid NOT NULL,
    status text DEFAULT 'pendente'::text NOT NULL,
    data_entrega text,
    meio_entrega text,
    nome_recebedor text,
    comprovante_url text,
    comprovante_nome text,
    entregue_por_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    data_impressao text,
    impresso_por_id uuid
);


ALTER TABLE public.deliveries OWNER TO nautilus_user;

--
-- Name: document_versions; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.document_versions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    documento_id uuid NOT NULL,
    versao integer NOT NULL,
    arquivo_nome_fisico text NOT NULL,
    arquivo_nome_original text NOT NULL,
    tamanho integer DEFAULT 0,
    tipo_mime text,
    autor_id uuid,
    autor_nome text,
    data text,
    comentario text,
    origem text DEFAULT 'vistoria'::text NOT NULL,
    situacao_revisao text DEFAULT 'pendente'::text,
    situacao_aprovacao text DEFAULT 'pendente'::text,
    aprovado_por_id uuid,
    aprovado_em text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    pdf_url text
);


ALTER TABLE public.document_versions OWNER TO nautilus_user;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    os_id uuid NOT NULL,
    titulo text NOT NULL,
    tipo text DEFAULT 'outro'::text NOT NULL,
    status text DEFAULT 'em_elaboracao'::text NOT NULL,
    versao_atual integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.documents OWNER TO nautilus_user;

--
-- Name: external_responses; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.external_responses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    submissao_id uuid NOT NULL,
    tipo text NOT NULL,
    data text,
    motivo text,
    anexo_url text,
    anexo_nome text,
    versao_aprovada integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.external_responses OWNER TO nautilus_user;

--
-- Name: external_submissions; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.external_submissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    os_id uuid NOT NULL,
    documento_id uuid,
    versao_enviada integer,
    orgao_ou_certificadora text NOT NULL,
    data_envio text,
    protocolo text,
    observacao text,
    responsavel_envio_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.external_submissions OWNER TO nautilus_user;

--
-- Name: financial_attachments; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.financial_attachments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transaction_id uuid NOT NULL,
    file_url text NOT NULL,
    file_name text NOT NULL,
    file_size integer DEFAULT 0,
    mime_type text,
    document_type text DEFAULT 'outro'::text NOT NULL,
    document_number text,
    series text,
    uploaded_by uuid,
    uploaded_by_name text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.financial_attachments OWNER TO nautilus_user;

--
-- Name: financial_categories; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.financial_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    natureza text DEFAULT 'despesa'::text NOT NULL,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.financial_categories OWNER TO nautilus_user;

--
-- Name: financial_entries; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.financial_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    embarcacao_id uuid,
    embarcacao_nome text,
    cliente_nome text,
    data text,
    valor numeric(12,2) DEFAULT '0'::numeric,
    tipo text NOT NULL,
    forma_pagamento text,
    observacao text,
    lancado_por_nome text,
    nota_fiscal_numero text,
    nota_fiscal_nome text,
    nota_fiscal_url text,
    recibo_numero text,
    comprovante_despesa_url text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    proposta_id uuid,
    os_id uuid,
    conta_receber_id uuid,
    issuer_id uuid,
    nf_series text,
    is_storno boolean DEFAULT false,
    storno_reason text,
    original_payment_id uuid,
    notification_sent boolean DEFAULT false,
    conta_pagar_id uuid,
    categoria_id uuid,
    fornecedor_id uuid,
    natureza text DEFAULT 'entrada'::text NOT NULL,
    competencia text,
    vencimento text
);


ALTER TABLE public.financial_entries OWNER TO nautilus_user;

--
-- Name: financial_status_history; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.financial_status_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    embarcacao_id uuid,
    os_id uuid,
    previous_status text,
    new_status text NOT NULL,
    previous_value numeric(12,2) DEFAULT 0,
    new_value numeric(12,2) DEFAULT 0 NOT NULL,
    total_value numeric(12,2) DEFAULT 0,
    percentage numeric(5,2) DEFAULT 0,
    triggered_by uuid,
    triggered_by_name text,
    entry_id uuid,
    observation text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.financial_status_history OWNER TO nautilus_user;

--
-- Name: financial_suppliers; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.financial_suppliers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    documento text,
    email text,
    telefone text,
    observacoes text,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.financial_suppliers OWNER TO nautilus_user;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid NOT NULL,
    tipo text NOT NULL,
    titulo text NOT NULL,
    mensagem text,
    lida boolean DEFAULT false NOT NULL,
    os_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    prioridade text DEFAULT 'normal'::text,
    compromisso_id uuid
);


ALTER TABLE public.notifications OWNER TO nautilus_user;

--
-- Name: os_events; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.os_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    os_id uuid NOT NULL,
    tipo text NOT NULL,
    autor_id uuid,
    autor_nome text,
    descricao text,
    dados jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.os_events OWNER TO nautilus_user;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    conta_receber_id uuid,
    proposta_id uuid,
    os_id uuid,
    embarcacao_id uuid,
    valor numeric(12,2) DEFAULT '0'::numeric,
    data text,
    forma_pagamento text,
    observacao text,
    lancado_por_nome text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO nautilus_user;

--
-- Name: proposal_acceptances; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.proposal_acceptances (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    proposta_id uuid NOT NULL,
    meio text DEFAULT 'outro'::text NOT NULL,
    responsavel_nome text NOT NULL,
    data text,
    observacao text,
    usuario_id uuid,
    usuario_nome text,
    documento_url text,
    documento_nome text,
    origem text DEFAULT 'normal'::text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.proposal_acceptances OWNER TO nautilus_user;

--
-- Name: proposal_deliveries; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.proposal_deliveries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    proposta_id uuid NOT NULL,
    canal text NOT NULL,
    destinatario text,
    status text DEFAULT 'enviado'::text,
    erro text,
    usuario_id uuid,
    usuario_nome text,
    data timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.proposal_deliveries OWNER TO nautilus_user;

--
-- Name: proposals; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.proposals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero text NOT NULL,
    data_emissao text,
    validade_dias integer,
    embarcacao_id uuid,
    embarcacao_nome text,
    cliente_nome text,
    destinatario text,
    assunto text,
    prazo_entrega_dias integer,
    condicoes_pagamento text,
    status text DEFAULT 'rascunho'::text NOT NULL,
    itens jsonb DEFAULT '[]'::jsonb,
    valor_total numeric(12,2) DEFAULT '0'::numeric,
    observacoes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    ano integer,
    elaborado_por text,
    aceite_data text,
    aceite_assinatura_nome text,
    cliente_id uuid,
    os_id uuid,
    embarcacoes_ids jsonb DEFAULT '[]'::jsonb,
    renovacao_de_id uuid,
    valor_desconto numeric(12,2) DEFAULT '0'::numeric
);


ALTER TABLE public.proposals OWNER TO nautilus_user;

--
-- Name: protocols; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.protocols (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero_protocolo text NOT NULL,
    data_envio text,
    embarcacao_id uuid,
    embarcacao_nome text,
    cliente_nome text,
    destinatario text,
    orgao_ou_empresa text,
    tipo_protocolo text,
    responsavel_envio_nome text,
    status text DEFAULT 'em_tr├ónsito'::text NOT NULL,
    codigo_rastreio text,
    comprovante_url text,
    comprovante_nome text,
    documentos_incluidos jsonb DEFAULT '[]'::jsonb,
    observacoes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.protocols OWNER TO nautilus_user;

--
-- Name: receipts; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.receipts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero text NOT NULL,
    data_emissao text,
    emissor_nome text,
    payment_id uuid,
    conta_receber_id uuid,
    status text DEFAULT 'ativo'::text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.receipts OWNER TO nautilus_user;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.schedules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    os_id uuid NOT NULL,
    status text DEFAULT 'pendente'::text NOT NULL,
    data text,
    horario text,
    local text,
    contato text,
    observacoes text,
    tecnico_responsavel_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.schedules OWNER TO nautilus_user;

--
-- Name: service_order_item_comments; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.service_order_item_comments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    item_id uuid NOT NULL,
    os_id uuid NOT NULL,
    autor_id uuid,
    autor_nome text NOT NULL,
    texto text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.service_order_item_comments OWNER TO nautilus_user;

--
-- Name: service_order_items; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.service_order_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    os_id uuid NOT NULL,
    descricao text NOT NULL,
    quantidade integer DEFAULT 1,
    valor_unitario numeric(12,2) DEFAULT '0'::numeric,
    tipo text DEFAULT 'outro'::text,
    status text DEFAULT 'pendente'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    tecnico_responsavel_id uuid,
    relatorio_url text,
    relatorio_nome text,
    data_agendada text,
    horario_agendado text,
    local_agendado text,
    contato_agendamento text,
    observacoes_agendamento text
);


ALTER TABLE public.service_order_items OWNER TO nautilus_user;

--
-- Name: service_orders; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.service_orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero text NOT NULL,
    proposta_id uuid,
    embarcacao_id uuid,
    cliente_id uuid,
    status text DEFAULT 'aguardando_agendamento'::text NOT NULL,
    responsavel_tecnico_id uuid,
    data_aceite text,
    data_conclusao text,
    observacoes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.service_orders OWNER TO nautilus_user;

--
-- Name: services; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.services (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    valor_padrao numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.services OWNER TO nautilus_user;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.tasks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    embarcacao_id uuid,
    titulo text NOT NULL,
    tipo text NOT NULL,
    status text DEFAULT 'pendente'::text NOT NULL,
    responsavel_nome text,
    data_criacao text,
    prazo_vencimento text,
    anexos jsonb DEFAULT '[]'::jsonb,
    protocolo_gerado boolean DEFAULT false,
    data_conclusao text,
    arquivos_recebidos jsonb DEFAULT '[]'::jsonb,
    historico_notas jsonb DEFAULT '[]'::jsonb,
    observacoes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    responsavel_id uuid,
    responsavel_cargo text,
    embarcacao_nome text,
    cliente_nome text,
    certificadora text,
    prazo text,
    arquivo_nome text,
    arquivo_url text,
    atualizado_em text,
    os_id uuid,
    legacy boolean DEFAULT false
);


ALTER TABLE public.tasks OWNER TO nautilus_user;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.user_sessions (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.user_sessions OWNER TO nautilus_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    email text NOT NULL,
    role text DEFAULT 'tecnico'::text NOT NULL,
    senha text NOT NULL,
    avatar_url text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    cargo text,
    ativo boolean DEFAULT true NOT NULL,
    permissions jsonb DEFAULT '[]'::jsonb,
    legacy boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO nautilus_user;

--
-- Name: vessels; Type: TABLE; Schema: public; Owner: nautilus_user
--

CREATE TABLE public.vessels (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome text NOT NULL,
    tipo text NOT NULL,
    cliente_id uuid,
    cliente_nome text,
    telefone_contato text,
    email_contato text,
    responsavel_tecnico text,
    status text DEFAULT 'aberta'::text NOT NULL,
    etapa_atual text,
    prazo_renovacao text,
    valor_total numeric(12,2) DEFAULT '0'::numeric,
    valor_recebido numeric(12,2) DEFAULT '0'::numeric,
    arquivos_associados jsonb DEFAULT '[]'::jsonb,
    progresso integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    registro text,
    certificadora_principal text,
    valor_sinal numeric(12,2) DEFAULT '0'::numeric,
    descricao text,
    certificadora_id uuid,
    comprimento numeric(10,2),
    boca numeric(10,2),
    pontal numeric(10,2)
);


ALTER TABLE public.vessels OWNER TO nautilus_user;

--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: nautilus_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: nautilus_user
--



--
-- Data for Name: accounts_payable; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.accounts_payable (id, fornecedor_id, categoria_id, embarcacao_id, descricao, valor_original, vencimento, competencia, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: accounts_receivable; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.accounts_receivable (id, proposta_id, os_id, embarcacao_id, cliente_id, valor_original, status, created_at, updated_at, compromisso_id) FROM stdin;
\.


--
-- Data for Name: app_configs; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--



--
-- Data for Name: certifiers; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.certifiers (id, nome, codigo_registro, telefone_contato, email, ativo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.clients (id, nome, email, telefone, cnpj_cpf, endereco, created_at, updated_at, whatsapp) FROM stdin;
42e17777-62a4-41df-8b4b-0c8a24ff234e	Rosano Souza	ronokedas@gmail.com	\N	38303451863	\N	2026-08-20 22:57:49.056215	2026-08-20 22:57:49.056215	(91) 98934-0275
\.


--
-- Data for Name: commitment_attachments; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.commitment_attachments (id, compromisso_id, nome_original, nome_fisico, url, tipo_mime, tamanho, autor_id, created_at) FROM stdin;
\.


--
-- Data for Name: commitments; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.commitments (id, titulo, embarcacao_id, responsavel_id, vencimento, observacoes, prioridade, status, criado_por_id, created_at, updated_at, destinatarios) FROM stdin;
\.


--
-- Data for Name: critical_pendings; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.critical_pendings (id, tipo, titulo, embarcacao_nome, detalhe, urgencia, data, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: deliveries; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.deliveries (id, os_id, status, data_entrega, meio_entrega, nome_recebedor, comprovante_url, comprovante_nome, entregue_por_id, created_at, updated_at, data_impressao, impresso_por_id) FROM stdin;
\.


--
-- Data for Name: document_versions; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.document_versions (id, documento_id, versao, arquivo_nome_fisico, arquivo_nome_original, tamanho, tipo_mime, autor_id, autor_nome, data, comentario, origem, situacao_revisao, situacao_aprovacao, aprovado_por_id, aprovado_em, created_at, updated_at, pdf_url) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.documents (id, os_id, titulo, tipo, status, versao_atual, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: external_responses; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.external_responses (id, submissao_id, tipo, data, motivo, anexo_url, anexo_nome, versao_aprovada, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: external_submissions; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.external_submissions (id, os_id, documento_id, versao_enviada, orgao_ou_certificadora, data_envio, protocolo, observacao, responsavel_envio_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: financial_attachments; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.financial_attachments (id, transaction_id, file_url, file_name, file_size, mime_type, document_type, document_number, series, uploaded_by, uploaded_by_name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: financial_categories; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.financial_categories (id, nome, natureza, ativo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: financial_entries; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.financial_entries (id, embarcacao_id, embarcacao_nome, cliente_nome, data, valor, tipo, forma_pagamento, observacao, lancado_por_nome, nota_fiscal_numero, nota_fiscal_nome, nota_fiscal_url, recibo_numero, comprovante_despesa_url, created_at, updated_at, proposta_id, os_id, conta_receber_id, issuer_id, nf_series, is_storno, storno_reason, original_payment_id, notification_sent, conta_pagar_id, categoria_id, fornecedor_id, natureza, competencia, vencimento) FROM stdin;
\.


--
-- Data for Name: financial_status_history; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.financial_status_history (id, embarcacao_id, os_id, previous_status, new_status, previous_value, new_value, total_value, percentage, triggered_by, triggered_by_name, entry_id, observation, created_at) FROM stdin;
\.


--
-- Data for Name: financial_suppliers; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.financial_suppliers (id, nome, documento, email, telefone, observacoes, ativo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.notifications (id, usuario_id, tipo, titulo, mensagem, lida, os_id, created_at, prioridade, compromisso_id) FROM stdin;
\.


--
-- Data for Name: os_events; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.os_events (id, os_id, tipo, autor_id, autor_nome, descricao, dados, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.payments (id, conta_receber_id, proposta_id, os_id, embarcacao_id, valor, data, forma_pagamento, observacao, lancado_por_nome, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: proposal_acceptances; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.proposal_acceptances (id, proposta_id, meio, responsavel_nome, data, observacao, usuario_id, usuario_nome, documento_url, documento_nome, origem, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: proposal_deliveries; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.proposal_deliveries (id, proposta_id, canal, destinatario, status, erro, usuario_id, usuario_nome, data, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: proposals; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.proposals (id, numero, data_emissao, validade_dias, embarcacao_id, embarcacao_nome, cliente_nome, destinatario, assunto, prazo_entrega_dias, condicoes_pagamento, status, itens, valor_total, observacoes, created_at, updated_at, ano, elaborado_por, aceite_data, aceite_assinatura_nome, cliente_id, os_id, embarcacoes_ids, renovacao_de_id, valor_desconto) FROM stdin;
\.


--
-- Data for Name: protocols; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.protocols (id, numero_protocolo, data_envio, embarcacao_id, embarcacao_nome, cliente_nome, destinatario, orgao_ou_empresa, tipo_protocolo, responsavel_envio_nome, status, codigo_rastreio, comprovante_url, comprovante_nome, documentos_incluidos, observacoes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.receipts (id, numero, data_emissao, emissor_nome, payment_id, conta_receber_id, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.schedules (id, os_id, status, data, horario, local, contato, observacoes, tecnico_responsavel_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: service_order_item_comments; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.service_order_item_comments (id, item_id, os_id, autor_id, autor_nome, texto, created_at) FROM stdin;
\.


--
-- Data for Name: service_order_items; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.service_order_items (id, os_id, descricao, quantidade, valor_unitario, tipo, status, created_at, updated_at, tecnico_responsavel_id, relatorio_url, relatorio_nome, data_agendada, horario_agendado, local_agendado, contato_agendamento, observacoes_agendamento) FROM stdin;
\.


--
-- Data for Name: service_orders; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.service_orders (id, numero, proposta_id, embarcacao_id, cliente_id, status, responsavel_tecnico_id, data_aceite, data_conclusao, observacoes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--



--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--

COPY public.tasks (id, embarcacao_id, titulo, tipo, status, responsavel_nome, data_criacao, prazo_vencimento, anexos, protocolo_gerado, data_conclusao, arquivos_recebidos, historico_notas, observacoes, created_at, updated_at, responsavel_id, responsavel_cargo, embarcacao_nome, cliente_nome, certificadora, prazo, arquivo_nome, arquivo_url, atualizado_em, os_id, legacy) FROM stdin;
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--



--
-- Data for Name: vessels; Type: TABLE DATA; Schema: public; Owner: nautilus_user
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: nautilus_user
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 56, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: nautilus_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: accounts_payable accounts_payable_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_payable
    ADD CONSTRAINT accounts_payable_pkey PRIMARY KEY (id);


--
-- Name: accounts_receivable accounts_receivable_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_receivable
    ADD CONSTRAINT accounts_receivable_pkey PRIMARY KEY (id);


--
-- Name: app_configs app_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.app_configs
    ADD CONSTRAINT app_configs_pkey PRIMARY KEY (id);


--
-- Name: certifiers certifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.certifiers
    ADD CONSTRAINT certifiers_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: commitment_attachments commitment_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitment_attachments
    ADD CONSTRAINT commitment_attachments_pkey PRIMARY KEY (id);


--
-- Name: commitments commitments_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitments
    ADD CONSTRAINT commitments_pkey PRIMARY KEY (id);


--
-- Name: critical_pendings critical_pendings_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.critical_pendings
    ADD CONSTRAINT critical_pendings_pkey PRIMARY KEY (id);


--
-- Name: deliveries deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pkey PRIMARY KEY (id);


--
-- Name: document_versions document_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: external_responses external_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.external_responses
    ADD CONSTRAINT external_responses_pkey PRIMARY KEY (id);


--
-- Name: external_submissions external_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.external_submissions
    ADD CONSTRAINT external_submissions_pkey PRIMARY KEY (id);


--
-- Name: financial_attachments financial_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_attachments
    ADD CONSTRAINT financial_attachments_pkey PRIMARY KEY (id);


--
-- Name: financial_categories financial_categories_nome_key; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_categories
    ADD CONSTRAINT financial_categories_nome_key UNIQUE (nome);


--
-- Name: financial_categories financial_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_categories
    ADD CONSTRAINT financial_categories_pkey PRIMARY KEY (id);


--
-- Name: financial_entries financial_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_pkey PRIMARY KEY (id);


--
-- Name: financial_status_history financial_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_status_history
    ADD CONSTRAINT financial_status_history_pkey PRIMARY KEY (id);


--
-- Name: financial_suppliers financial_suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_suppliers
    ADD CONSTRAINT financial_suppliers_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: os_events os_events_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.os_events
    ADD CONSTRAINT os_events_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: proposal_acceptances proposal_acceptances_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposal_acceptances
    ADD CONSTRAINT proposal_acceptances_pkey PRIMARY KEY (id);


--
-- Name: proposal_deliveries proposal_deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposal_deliveries
    ADD CONSTRAINT proposal_deliveries_pkey PRIMARY KEY (id);


--
-- Name: proposals proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_pkey PRIMARY KEY (id);


--
-- Name: protocols protocols_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.protocols
    ADD CONSTRAINT protocols_pkey PRIMARY KEY (id);


--
-- Name: receipts receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: service_order_item_comments service_order_item_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_item_comments
    ADD CONSTRAINT service_order_item_comments_pkey PRIMARY KEY (id);


--
-- Name: service_order_items service_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_items
    ADD CONSTRAINT service_order_items_pkey PRIMARY KEY (id);


--
-- Name: service_orders service_orders_numero_unique; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_numero_unique UNIQUE (numero);


--
-- Name: service_orders service_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_pkey PRIMARY KEY (id);


--
-- Name: services services_nome_key; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_nome_key UNIQUE (nome);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: user_sessions session_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vessels vessels_pkey; Type: CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.vessels
    ADD CONSTRAINT vessels_pkey PRIMARY KEY (id);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE INDEX "IDX_session_expire" ON public.user_sessions USING btree (expire);


--
-- Name: accounts_receivable_proposta_unique; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE UNIQUE INDEX accounts_receivable_proposta_unique ON public.accounts_receivable USING btree (proposta_id);


--
-- Name: document_versions_doc_versao_unique; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE UNIQUE INDEX document_versions_doc_versao_unique ON public.document_versions USING btree (documento_id, versao);


--
-- Name: idx_accounts_payable_status; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE INDEX idx_accounts_payable_status ON public.accounts_payable USING btree (status);


--
-- Name: idx_financial_entries_natureza; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE INDEX idx_financial_entries_natureza ON public.financial_entries USING btree (natureza);


--
-- Name: idx_financial_entries_nf_unique; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE UNIQUE INDEX idx_financial_entries_nf_unique ON public.financial_entries USING btree (issuer_id, nota_fiscal_numero, nf_series) WHERE ((nota_fiscal_numero IS NOT NULL) AND (issuer_id IS NOT NULL));


--
-- Name: proposal_acceptances_proposta_unique; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE UNIQUE INDEX proposal_acceptances_proposta_unique ON public.proposal_acceptances USING btree (proposta_id);


--
-- Name: receipts_numero_unique; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE UNIQUE INDEX receipts_numero_unique ON public.receipts USING btree (numero);


--
-- Name: service_order_item_comments_item_idx; Type: INDEX; Schema: public; Owner: nautilus_user
--

CREATE INDEX service_order_item_comments_item_idx ON public.service_order_item_comments USING btree (item_id, created_at);


--
-- Name: accounts_payable accounts_payable_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_payable
    ADD CONSTRAINT accounts_payable_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.financial_categories(id);


--
-- Name: accounts_payable accounts_payable_embarcacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_payable
    ADD CONSTRAINT accounts_payable_embarcacao_id_fkey FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: accounts_payable accounts_payable_fornecedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_payable
    ADD CONSTRAINT accounts_payable_fornecedor_id_fkey FOREIGN KEY (fornecedor_id) REFERENCES public.financial_suppliers(id);


--
-- Name: accounts_receivable accounts_receivable_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_receivable
    ADD CONSTRAINT accounts_receivable_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clients(id);


--
-- Name: accounts_receivable accounts_receivable_compromisso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_receivable
    ADD CONSTRAINT accounts_receivable_compromisso_id_fkey FOREIGN KEY (compromisso_id) REFERENCES public.commitments(id);


--
-- Name: accounts_receivable accounts_receivable_embarcacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_receivable
    ADD CONSTRAINT accounts_receivable_embarcacao_id_fkey FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: accounts_receivable accounts_receivable_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_receivable
    ADD CONSTRAINT accounts_receivable_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: accounts_receivable accounts_receivable_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.accounts_receivable
    ADD CONSTRAINT accounts_receivable_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposals(id);


--
-- Name: commitment_attachments commitment_attachments_autor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitment_attachments
    ADD CONSTRAINT commitment_attachments_autor_id_fkey FOREIGN KEY (autor_id) REFERENCES public.users(id);


--
-- Name: commitment_attachments commitment_attachments_compromisso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitment_attachments
    ADD CONSTRAINT commitment_attachments_compromisso_id_fkey FOREIGN KEY (compromisso_id) REFERENCES public.commitments(id) ON DELETE CASCADE;


--
-- Name: commitments commitments_criado_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitments
    ADD CONSTRAINT commitments_criado_por_id_fkey FOREIGN KEY (criado_por_id) REFERENCES public.users(id);


--
-- Name: commitments commitments_embarcacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitments
    ADD CONSTRAINT commitments_embarcacao_id_fkey FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: commitments commitments_responsavel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.commitments
    ADD CONSTRAINT commitments_responsavel_id_fkey FOREIGN KEY (responsavel_id) REFERENCES public.users(id);


--
-- Name: deliveries deliveries_entregue_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_entregue_por_id_fkey FOREIGN KEY (entregue_por_id) REFERENCES public.users(id);


--
-- Name: deliveries deliveries_impresso_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_impresso_por_id_fkey FOREIGN KEY (impresso_por_id) REFERENCES public.users(id);


--
-- Name: deliveries deliveries_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: document_versions document_versions_aprovado_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_aprovado_por_id_fkey FOREIGN KEY (aprovado_por_id) REFERENCES public.users(id);


--
-- Name: document_versions document_versions_autor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_autor_id_fkey FOREIGN KEY (autor_id) REFERENCES public.users(id);


--
-- Name: document_versions document_versions_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.documents(id);


--
-- Name: documents documents_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: external_responses external_responses_submissao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.external_responses
    ADD CONSTRAINT external_responses_submissao_id_fkey FOREIGN KEY (submissao_id) REFERENCES public.external_submissions(id);


--
-- Name: external_submissions external_submissions_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.external_submissions
    ADD CONSTRAINT external_submissions_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.documents(id);


--
-- Name: external_submissions external_submissions_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.external_submissions
    ADD CONSTRAINT external_submissions_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: external_submissions external_submissions_responsavel_envio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.external_submissions
    ADD CONSTRAINT external_submissions_responsavel_envio_id_fkey FOREIGN KEY (responsavel_envio_id) REFERENCES public.users(id);


--
-- Name: financial_attachments financial_attachments_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_attachments
    ADD CONSTRAINT financial_attachments_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.financial_entries(id) ON DELETE CASCADE;


--
-- Name: financial_attachments financial_attachments_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_attachments
    ADD CONSTRAINT financial_attachments_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: financial_entries financial_entries_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.financial_categories(id);


--
-- Name: financial_entries financial_entries_conta_pagar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_conta_pagar_id_fkey FOREIGN KEY (conta_pagar_id) REFERENCES public.accounts_payable(id);


--
-- Name: financial_entries financial_entries_conta_receber_id_accounts_receivable_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_conta_receber_id_accounts_receivable_id_fk FOREIGN KEY (conta_receber_id) REFERENCES public.accounts_receivable(id);


--
-- Name: financial_entries financial_entries_embarcacao_id_vessels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_embarcacao_id_vessels_id_fk FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: financial_entries financial_entries_fornecedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_fornecedor_id_fkey FOREIGN KEY (fornecedor_id) REFERENCES public.financial_suppliers(id);


--
-- Name: financial_entries financial_entries_issuer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_issuer_id_fkey FOREIGN KEY (issuer_id) REFERENCES public.clients(id);


--
-- Name: financial_entries financial_entries_original_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_original_payment_id_fkey FOREIGN KEY (original_payment_id) REFERENCES public.financial_entries(id);


--
-- Name: financial_entries financial_entries_os_id_service_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_os_id_service_orders_id_fk FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: financial_entries financial_entries_proposta_id_proposals_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_entries
    ADD CONSTRAINT financial_entries_proposta_id_proposals_id_fk FOREIGN KEY (proposta_id) REFERENCES public.proposals(id);


--
-- Name: financial_status_history financial_status_history_embarcacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_status_history
    ADD CONSTRAINT financial_status_history_embarcacao_id_fkey FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id) ON DELETE CASCADE;


--
-- Name: financial_status_history financial_status_history_entry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_status_history
    ADD CONSTRAINT financial_status_history_entry_id_fkey FOREIGN KEY (entry_id) REFERENCES public.financial_entries(id);


--
-- Name: financial_status_history financial_status_history_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_status_history
    ADD CONSTRAINT financial_status_history_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id) ON DELETE CASCADE;


--
-- Name: financial_status_history financial_status_history_triggered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.financial_status_history
    ADD CONSTRAINT financial_status_history_triggered_by_fkey FOREIGN KEY (triggered_by) REFERENCES public.users(id);


--
-- Name: notifications notifications_compromisso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_compromisso_id_fkey FOREIGN KEY (compromisso_id) REFERENCES public.commitments(id);


--
-- Name: notifications notifications_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: notifications notifications_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: os_events os_events_autor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.os_events
    ADD CONSTRAINT os_events_autor_id_fkey FOREIGN KEY (autor_id) REFERENCES public.users(id);


--
-- Name: os_events os_events_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.os_events
    ADD CONSTRAINT os_events_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: payments payments_conta_receber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_conta_receber_id_fkey FOREIGN KEY (conta_receber_id) REFERENCES public.accounts_receivable(id);


--
-- Name: payments payments_embarcacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_embarcacao_id_fkey FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: payments payments_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: payments payments_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposals(id);


--
-- Name: proposal_acceptances proposal_acceptances_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposal_acceptances
    ADD CONSTRAINT proposal_acceptances_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposals(id);


--
-- Name: proposal_acceptances proposal_acceptances_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposal_acceptances
    ADD CONSTRAINT proposal_acceptances_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: proposal_deliveries proposal_deliveries_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposal_deliveries
    ADD CONSTRAINT proposal_deliveries_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposals(id);


--
-- Name: proposal_deliveries proposal_deliveries_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposal_deliveries
    ADD CONSTRAINT proposal_deliveries_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: proposals proposals_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clients(id);


--
-- Name: proposals proposals_embarcacao_id_vessels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_embarcacao_id_vessels_id_fk FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: proposals proposals_os_id_service_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_os_id_service_orders_id_fk FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: proposals proposals_renovacao_de_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.proposals
    ADD CONSTRAINT proposals_renovacao_de_id_fkey FOREIGN KEY (renovacao_de_id) REFERENCES public.proposals(id);


--
-- Name: protocols protocols_embarcacao_id_vessels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.protocols
    ADD CONSTRAINT protocols_embarcacao_id_vessels_id_fk FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: receipts receipts_conta_receber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_conta_receber_id_fkey FOREIGN KEY (conta_receber_id) REFERENCES public.accounts_receivable(id);


--
-- Name: receipts receipts_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id);


--
-- Name: schedules schedules_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: schedules schedules_tecnico_responsavel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_tecnico_responsavel_id_fkey FOREIGN KEY (tecnico_responsavel_id) REFERENCES public.users(id);


--
-- Name: service_order_item_comments service_order_item_comments_autor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_item_comments
    ADD CONSTRAINT service_order_item_comments_autor_id_fkey FOREIGN KEY (autor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: service_order_item_comments service_order_item_comments_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_item_comments
    ADD CONSTRAINT service_order_item_comments_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.service_order_items(id) ON DELETE CASCADE;


--
-- Name: service_order_item_comments service_order_item_comments_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_item_comments
    ADD CONSTRAINT service_order_item_comments_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id) ON DELETE CASCADE;


--
-- Name: service_order_items service_order_items_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_items
    ADD CONSTRAINT service_order_items_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: service_order_items service_order_items_tecnico_responsavel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_order_items
    ADD CONSTRAINT service_order_items_tecnico_responsavel_id_fkey FOREIGN KEY (tecnico_responsavel_id) REFERENCES public.users(id);


--
-- Name: service_orders service_orders_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clients(id);


--
-- Name: service_orders service_orders_embarcacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_embarcacao_id_fkey FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: service_orders service_orders_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposals(id);


--
-- Name: service_orders service_orders_responsavel_tecnico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_responsavel_tecnico_id_fkey FOREIGN KEY (responsavel_tecnico_id) REFERENCES public.users(id);


--
-- Name: tasks tasks_embarcacao_id_vessels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_embarcacao_id_vessels_id_fk FOREIGN KEY (embarcacao_id) REFERENCES public.vessels(id);


--
-- Name: tasks tasks_os_id_service_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_os_id_service_orders_id_fk FOREIGN KEY (os_id) REFERENCES public.service_orders(id);


--
-- Name: tasks tasks_responsavel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_responsavel_id_fkey FOREIGN KEY (responsavel_id) REFERENCES public.users(id);


--
-- Name: vessels vessels_certificadora_id_certifiers_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.vessels
    ADD CONSTRAINT vessels_certificadora_id_certifiers_id_fk FOREIGN KEY (certificadora_id) REFERENCES public.certifiers(id);


--
-- Name: vessels vessels_cliente_id_clients_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: nautilus_user
--

ALTER TABLE ONLY public.vessels
    ADD CONSTRAINT vessels_cliente_id_clients_id_fk FOREIGN KEY (cliente_id) REFERENCES public.clients(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Oj8vJUtY9oPJJCd6AvrVyiops9PQ4N8j29XeQgBDdRVqLkcZyahUoNqr6SUMzGT

